<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>nathalia</key>
	<dict>
		<key>Name</key>
		<string>Nathalia Santoro</string>
		<key>Twitter</key>
		<string>Em breve</string>
		<key>Picture</key>
		<string>nathalia</string>
		<key>FaceProfile</key>
		<string>nathaliasantorofitness</string>
		<key>Facebook</key>
		<string>518665344828009</string>
		<key>Instagram</key>
		<string>nathaliasantoro</string>
	</dict>
	<key>renan</key>
	<dict>
		<key>FaceProfile</key>
		<string>Renan4FitClub</string>
		<key>Picture</key>
		<string>renan</string>
		<key>Name</key>
		<string>Renan Corrêa</string>
		<key>Twitter</key>
		<string>Renan4FitClub</string>
		<key>Instagram</key>
		<string>renan4fitclub</string>
		<key>Facebook</key>
		<string>100002625706001</string>
	</dict>
	<key>felipe</key>
	<dict>
		<key>FaceProfile</key>
		<string>fefrancooficial</string>
		<key>Picture</key>
		<string>felipe</string>
		<key>Name</key>
		<string>Felipe Franco</string>
		<key>Twitter</key>
		<string>FeFrancoOficial</string>
		<key>Facebook</key>
		<string>275580702581792</string>
		<key>Instagram</key>
		<string>fefrancooficial</string>
	</dict>
</dict>
</plist>
